* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

.app {
  background: radial-gradient(101.74% 101.74% at 50% 119.47%, #1c284a 0%, #020617 100%);
}

.fade-in {
  animation: fade-in-element 0.5s;
}

.slide-in {
  animation: slide-in-element 0.35s;
}

@keyframes slide-in-element {
  from {
    opacity: 0;
    transform: translateY(150px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-element {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.overflow-scroll::-webkit-scrollbar {
  width: 12px;
}

.overflow-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background: #e2e8f0;
}

.overflow-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: lightgray;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.register-route-container,
.login-route-container {
  width: 1280px;
}

.profile-container {
  max-width: 1130px;
  width: 1130px;
}

.explorer-container {
  max-width: 1130px;
  width: 1130px;
}

.teachers-grid {
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 968px) {
  .teacher-profile-container,
  .user-profile-container {
    flex-direction: column;
  }
}

.connection-container,
.settings-container {
  display: flex;
  flex-direction: row;
}

.story-form-container {
  width: 1480px;
}

.photo-story-container,
.text-story-container {
  justify-content: space-around;
}

@media (max-width: 1050px) and (min-width: 601px) {
  .teachers-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .teachers-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 1150px) {
  .connection-container,
  .settings-container {
    flex-direction: column;
  }

  .profile-container {
    width: 100%;
  }
  .explorer-container {
    width: 100%;
  }
}

@media (max-width: 1310px) {
  .register-route-container,
  .login-route-container {
    width: 100%;
  }

  .photo-story-container,
  .text-story-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1900px) {
  .story-form-container {
    width: 100%;
  }
}
